@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid" id="main">
    <div class="card" id="pagetitle">
        <div class="card-body text-center">
            <h1 class="text-center">
                Welcome to the StudyApp
            </h1>
            <p>
                The StudyApp is here to help you learn and remember at an ever increasing rate!
            </p>
        </div>
    </div>
    <div class="row container-fluid" id="buttoncontainer">
        <div class="col-sm" id="button">
            <div class="card-body text-center">
                <a href="newterm.html" class="card-title-text-center">
                    <button type="button" class="btn btn-primary btn-sm">
                        New Term
                    </button>
                </a>
            </div>
        </div>
        <div class="col-sm" id="button">
            <div class="card-body text-center">
                <a href="study.html" class="card-title-text-center">
                    <button type="button" class="btn btn-primary btn-sm">
                        Study
                    </button>
                </a>
                <p class="card-text">
                    Choose what discipline to study! Hell, study them all!
                </p>
            </div>
        </div>
        <div class="col-sm" id="button">
            <div class="card-body text-center">
                <a href="edit.html" class="card-title-text-center">
                    <button type="button" class="btn btn-primary btn-sm">
                        Edit Term
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
