@page
@model StudyAppV4.Pages.AboutModel
@{
    ViewData["Title"] = "About us...";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body text-center">
            <h1 class="card-title">
                StudyAppV5
            </h1>
            <p class="card-text">
                The StudyApp is a user built and defined flashcard program that facilitates memorization of study material through appropriately timed review and repetition, guided by a metric that tracks how long a user remembers an answer.
            </p>
        </div>
    </div>
</div>