@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
		<div class = "container-fluid" id="main">
			<div class="card" id="pagetitle">
				<div class = "card-body text-center">
					<h1 class="text-center">
						Welcome to the StudyApp
					</h1>
					<p>
						The StudyApp is here to help you learn and remember at an ever increasing rate!
					</p>
				</div>
			</div>
			<div class="row container-fluid" id="buttoncontainer">
				<div class = "col-sm" id="button">
					<div class="card-body text-center">
						<a class="nav-link text-dark" asp-page="/Input/Words/Create">
							<button type="button" class = "btn btn-primary btn-sm">
								New Term
							</button>
						</a>
					</div>
				</div>
				<div class = "col-sm" id="button">
					<div class="card-body text-center">
						<a class="card-title-text-center" asp-page="/Flashcard">
							<button type="button" class = "btn btn-primary btn-sm">
								Study
							</button>
						</a>
						<p class="card-text">
							Choose what discipline to study! Hell, study them all!
						</p>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<a class"btn btn-primary" href="#" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="Maths">
										Math
									<ul class="collapse list-group list-group-flush" id="Maths">
										<li class="list-group-item" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="MathsD">
											<a href="#" >
												<a href="#" data-toggle="collapse" id="MathsD">
													Arithmetic
												</a>
												<ul class="collapse list-group list-group-flush">
													<li class="list-group-item" data-toggle="collapse">
														Addition
													</li>
													<li class="list-group-item" data-toggle="collapse">
														Subtraction
													</li>
												</ul>
											</a>
											<a href="#">
												<a href="#" data-toggle="collapse" id="MathsD">
													Calculus
												</a>
												<ul class="collapse list-group list-group-flush">
													<li class="list-group-item" data-toggle="collapse">
														Multivariable
													</li>
												</ul>
											</a>
										</li>
									</ul>
								</a>
							</li>
							<li class="list-group-item">
								<a href="#">
									Science
								</a>
							</li>
							<li class="list-group-item">
								<a href="#">
									Language
								</a>
							</li>
							<li class="list-group-item">
								<a href="#">
									Art
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class = "col-sm" id="button">
					<div class="card-body text-center">
						<a class="card-title-text-center" asp-page="/Input/Words/Edit">
							<button type="button" class = "btn btn-primary btn-sm" >
								Edit Term
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
</div>
