@page
@model StudyAppV4.Pages.Temporary.CorrectModel
@{
    ViewData["Title"] = "CORRECT!";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-body text-center">
            <img src="https://media.giphy.com/media/ZgYBhq1x7L1bW/200_d.gif" />
            <h1 class="card-title">
                Correct!
            </h1>
            <p class="card-text">
                Now go on back and study some more.
            </p>
        </div>
    </div>
</div>